.team-design{
    height: fit-content;
    padding: 10px 20px;
}

.team-design h1{
    font-family: 'Airwings';
    font-size: 3.5rem;
    margin: 10px 10px;
}
.team-containers{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 30px;    
}

.team-containers h2{
    font-size: 3rem;
    margin: 10px 10px;
    text-decoration: underline;
}

.team-card-contianer{
    margin: 0px 30px;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap: 30px 0px;
}

.teamCard {
    width: 200px;
    height: 200px;
    position: relative;
}
.team-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}

.team-ribbon{
    position: absolute;
    bottom: -15%;
    left: -10%;
    transform: translateY(10%);
    width: 275px;
}
.teamCard p{
    font-size: 30px;
    width: max-content;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-38%, 10%);
    margin: 0px;
}

@media (max-width: 480px){
    .team-card-contianer{
        margin: 30px 15%;
        grid-template-columns: repeat(1, 0fr);
    }
}