.nav-style{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    font-family: 'Retro-sans';
}

.nav-logo a, .nav-icons a{
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.nav-icons{
    display: flex;
    gap: 0px 20px;
}