:root {
  color: white;
  background-color: #0A4651;
  font-family: 'Retro-sans';
  margin: 0px;
  background-image: url(/star.svg);
  background-position: center;
  background-repeat: repeat;
  background-size: 100px;
  background-blend-mode: soft-light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Megatron';
  src: url(/fonts/Megatron.otf);
}
@font-face {
  font-family: 'Retro-sans';
  src: url(/fonts/RetroSans.ttf);
}
@font-face {
  font-family: 'RetroSerif';
  src: url(/fonts/Retro-slab-serif.ttf);
}
@font-face {
  font-family: 'Airwings';
  src: url(/fonts/Airwings-Distressed.ttf);
}

