:root {
  color: white;
  background-color: #0A4651;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Megatron';
  src: url(/fonts/Megatron.otf);
}
@font-face {
  font-family: 'Retro-sans';
  src: url(/fonts/RetroSans.ttf);
}
@font-face {
  font-family: 'RetroSerif';
  src: url(/fonts/Retro-slab-serif.ttf);
}
@font-face {
  font-family: 'Airwings';
  src: url(/fonts/Airwings-Distressed.ttf);
}

